{{/*###
NoCompile=true
*/}}
{{ define "settingsSidebar" }}
<div class="four wide column">
	<div class="ui fluid vertical menu">
		{{ navbarItem .Path (.T "个人资料") "/settings" }}

		{{ navbarItem .Path (.T "主页") "/settings/userpage" }}

		{{ navbarItem .Path (.T "头像") "/settings/avatar" }}

		{{ navbarItem .Path (.T "密码") "/settings/password" }}

		{{/* Stuff for donators */}}
		{{ if has .Context.User.Privileges 4 }}
			{{ navbarItem .Path (.T "背景") "/settings/profbackground" }}
		{{ end }}
	</div>
</div>
{{ end }}
