{{/*###
TitleBar=Elmo! Stop!
HeadingTitle=Stop!
KyutGrill=stop_sign.png
HeadingOnRight=true
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui raised segments">
		<div class="ui segment">
			{{ $username := .RequestInfo.Username }}
			<p>{{ .T "%s，好久不见，本服禁止小号。" $username }}</p>
			<p style="margin-bottom:40px;">
				<a href="/register?stopsign=1" class="camouflaged">{{ .T "如果你想让你的账号消失，你可以继续注册" }}</a> 
			</p>
		</div>
		<div class="ui right aligned segment">
			<div class="ui buttons">
				<a tabindex="1" class="ui labeled blue icon button" href="/">
					<i class="left chevron icon"></i>
					{{ .T "我不开小号了" }}
				</a>
			</div>
		</div>
	</div>
</div>
{{ end }}
