{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		{{ .T "恭喜，你的账号已经成功创建了。但是和官服一样，你需要从游戏里登录来<b>激活<b/>它" | html }}
	</div>
	<div class="ui centered error  message">
		{{ .T "<b class='big text'>不要让其他人登录你的账号！</b><br>" | html }}
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "帮助" | html }}</h1>
		<ol class="ui list">
			<li><a href="/static/SBwitcher.exe"><b>{{ .T "下载切换器" }}</b></a></li>
			<li>{{ .T "右键切换器，选择<b>以管理员身份运行<b/>" | html }}</li>
			<li>{{ .T "点击<b>安装证书</b>并选择<b>是</b>" | html }}</li>
			<li>{{ .T "点击<b>Welcome to us!</b>就切换到私服了" | html }}</li>
		</ol>
		<p>
			{{ .T "如果你想换回官服，点击<b>See you next time.</b>即可" | html }}
		</p>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "等待激活" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
