{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
	{{ $set := systemSettings "website_home_alert" }}
	{{ with $set.website_home_alert.String }}
		<div class="ui warning message">
			{{ . | html }}
		</div>
	{{ end }}
	{{/* Not logged in block */}}
		<div class="ui raised segment">
			{{ if not .Context.User.ID }}
				<h1 class="ui header">{{ .T "欢迎来到 ppy.sb" }}</h1>
				{{ .T "欢迎！首个支持 UTF-8 字符的 Relax 私服。还在等什么？加入我们吧！" }}
			{{ else }}
				<h1 class="ui header">{{ .T "你好你好，%s!" .Context.User.Username }}</h1>
				<p>
					{{ .T "欢迎回来！美好的一天从刷 PP 开始，不是吗？" }}
				</p>
			{{ end }}
			<div class="ui center aligned basic segment">
				{{ if not .Context.User.ID }}
					<a class="ui pink button" href="/register">
						<i class="plus square icon"></i>
						{{ $.T "注册" }}
					</a>
				{{ end }}
				<a class="ui pink button" href="https://osu.ppy.sb/static/SBwitcher.exe">
					<i class="download icon"></i>
					{{ $.T "下载切换器" }}
				</a>
				{{ if .Context.User.ID }}
					<a class="ui pink inverted button" href="/doc/connection_guide">
						<i class="book icon"></i>
						{{ $.T "链接指南" }}
					</a>
				{{ else }}
					<a class="ui pink button" href="/login">
						<i class="sign in icon"></i>
						{{ $.T "登录" }}
					</a>
				{{ end }}
			</div>
		</div>
	<div class="ui segment">
		<div class="ui segment">
			<h1 class="ui center aligned header">
				{{ $.T "关于 ppy.sb" | html }}
			</h1>
		</div>
			<div class="ui segment">
						<p>
					{{ .T "已实现功能：" }}
				</p>
				<ul>
					<li>{{ .T "基于Akatsuki" }}</li>
					<li>{{ .T "所有图都拥有排行榜和录像" }}</li>
					<li>{{ .T "上传rx成绩和录像，以及rx排行榜" }}</li>
					<li>{{ .T "中文ID，目前只能在游戏内自助修改" }}</li>
					<li>{{ .T "游戏内direct下载，由Sayobot提供（老夜牛逼）" }}</li>
					<li>{{ .T "pp排行榜（切换至mod榜即可）" }}</li>
					<li>{{ .T "围观、多人游戏、好友..." }}</li>
				</ul>
				<p>
					{{ .T "计划中功能：" }}
				</p>
				<ul>
					<li>{{ .T "qq群bot联动" }}</li>
				</ul>
				{{ if not .Context.User.ID }}
					<p>
						全新前端正在开发。迫不及待了吗？
						⬇️是目前的开发版本。欢迎提建议！<br>
						<a href="https://next.ppy.sb/users/1001">这是 arily 的新 userpage！快来看看吧！</a><br>
					</p>
				{{ else }}
					<p>
						全新前端正在开发。迫不及待了吗？
						⬇️是目前的开发版本。欢迎提建议！<br>
						<a href="https://next.ppy.sb/users/{{.Context.User.ID}}">你的新 userpage！快来看看吧！</a>
					</p>
				{{ end }}
			</div>
	</div>
</div>
{{ end }}
