{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
	{{ $set := systemSettings "website_home_alert" }}
	{{ with $set.website_home_alert.String }}
		<div class="ui warning message">
			{{ . | html }}
		</div>
	{{ end }}
	{{/* Not logged in block */}}
	{{ if not .Context.User.ID }}
		<div class="ui segment">
			<h1 class="ui header">{{ .T "欢迎来到ppy.sb" }}</h1>
			<p>
				{{ .T "？屙屎国服" }}
			</p>
			<p>
				{{ .T "已实现功能：" }}
			</p>
			<ul>
				<li>{{ .T "基于Akatsuki" }}</li>
				<li>{{ .T "使用阿里云提供的优质土豆" }}</li>
				<li>{{ .T "所有图都拥有排行榜和录像" }}</li>
				<li>{{ .T "上传rx成绩和录像，以及rx排行榜" }}</li>
				<li>{{ .T "中文ID，目前只能在游戏内自助修改" }}</li>
				<li>{{ .T "游戏内direct下载，由Sayobot提供（老夜牛逼）" }}</li>
				<li>{{ .T "pp排行榜（切换至mod榜即可）" }}</li>
				<li>{{ .T "围观、多人游戏、好友..." }}</li>
			</ul>
			<p>
				{{ .T "计划中功能：" }}
			</p>
			<ul>
				<li>{{ .T "qq群bot联动" }}</li>
			</ul>
			<p>
				{{ .T "群号792778662" }}
			</p>
		</div>
	{{ else }}
		<div class="ui segment">
			<h1 class="ui header">{{ .T "你好你好，%s!" .Context.User.Username }}</h1>
			<p>
				{{ .T "欢迎回来！" }}
			</p>
			<p><a href="https://shimo.im/docs/HV3pJjyQpDgtk9TW/">批发商使用说明</a></p>
			<p>
				{{ .T "已实现功能：" }}
			</p>
			<ul>
				<li>{{ .T "所有图都拥有排行榜和录像" }}</li>
				<li>{{ .T "上传rx成绩和录像，以及rx排行榜" }}</li>
				<li>{{ .T "中文ID，目前只能在游戏内自助修改" }}</li>
				<li>{{ .T "游戏内direct下载，由Sayobot提供（老夜牛逼）" }}</li>
				<li>{{ .T "pp排行榜（切换至mod榜即可）" }}</li>
				<li>{{ .T "围观、多人游戏、好友..." }}</li>
			</ul>
			<p>
				{{ .T "计划中功能：" }}
			</p>
			<ul>
				<li>{{ .T "qq群bot联动" }}</li>
			</ul>
			<p>
				{{ .T "群号792778662" }}
			</p>
		</div>
	{{ end }}
</div>
{{ end }}
