{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
	{{ $set := systemSettings "website_home_alert" }}
	{{ with $set.website_home_alert.String }}
		<div class="ui warning message">
			{{ . | html }}
		</div>
	{{ end }}
	{{/* Not logged in block */}}
	{{ if not .Context.User.ID }}
		<div class="ui segment">
			<h1 class="ui header">{{ .T "欢迎来到ppy.sb" }}</h1>
			<p>
				{{ .T "大概是CN第一个屙屎私服" }}
			</p>
			<p>
				{{ .T "Bancho基于Akatsuki，拥有rx和unrank的排行榜，支持中文ID。服务器采用阿里云香港BGP线路，保证网络通畅。" }}
			</p>
		</div>
	{{ else }}
		<div class="ui segment">
			<h1 class="ui header">{{ .T "你好你好，%s!" .Context.User.Username }}</h1>
			<p>
				{{ .T "欢迎回来！" }}
			</p>
			<p>
				{{ .T "这里现在什么也没有" }}
			</p>
		</div>
	{{ end }}
</div>
{{ end }}
