{{/*###
Handler=/login
TitleBar=Log in
KyutGrill=login2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{/* Not logged in block */}}
	{{ if .Context.User.Username }}
		<div class="ui segment">
			{{ .T "你已经登录了！" }}
		</div>
	{{ else }}
		<div class="tiny container">
			<div class="ui raised segments">
				<div class="ui segment">
					<form id="login-form" class="ui form" method="post" action="/login">
						<div class="field">
							<label>{{ .T "用户名（或者邮箱）" }}</label>
							<input tabindex="1" type="text" name="username" placeholder="{{ .T "用户名" }}" value="{{ .FormData.username }}" required>
						</div>
						<div class="field">
							<label>{{ .T "密码" }} <a href="/pwreset">{{ .T "(忘记密码？)" }}</a></label>
							<input tabindex="2" type="password" name="password" placeholder="{{ .T "密码" }}" value="{{ .FormData.password }}" required>
						</div>
						<input type="hidden" name="redir" value="{{ or (.Gin.Query "redir") .FormData.redir }}">
						{{ ieForm .Gin }}
					</form>
				</div>
				<div class="ui right aligned segment">
					<button tabindex="3" class="ui primary button" type="submit" form="login-form">{{ .T "登录" }}</button>
				</div>
			</div>
		</div>
	{{ end }}
</div>
{{ end }}
